.list-enter-active, .list-leave-active {
  position: absolute;
}
.list-enter, .list-leave-to /* .list-leave-active for below version 2.1.8 */ {
  opacity: 0;
}
.list-move {
  transition: transform 1s;
}